.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


img{
  width: 100px;
  height: 100px;
}

table{
  margin-left: 30px ;  
  border-collapse: collapse;
}

td{
  border: 2px yellowgreen solid;
  box-sizing: border-box;
  padding: 10px;
}

h1{
  color: yellowgreen;
  font-style: italic;
  font-weight: 500;
}